  
   
    html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }


    table {
      width: 100%;
      height: 100%;
      border-collapse: collapse;
      table-layout: fixed;
    }

    td {
      border: 2px solid #555;
      padding: 2vw;           
      font-size: 2vw;         
      vertical-align: middle;
      overflow: hidden;
      word-wrap: break-word;
    }

    .cell1 {
      background-color: #c8cf8a;
    }

    .cell2 {
      background-color: #f6c7b0;
    }
  